html, body {
    height: 100%;
    margin: 0;
}

.background{
    background-image: url("../images/background.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1 {
    font-size: 80px;
    height: 75px;
    color: #efe5f3;
    font-family: Ubuntu;
}

.h2 {
    font-size: 25px;
    color: #efe5f3;
    font-family: Ubuntu;
}

.p {
    font-size: 18px;
    color: #c2aec9;
    font-family: Ubuntu;
    width: 60vw;
    text-wrap: pre-wrap;
    text-align: justify;
}

.hlink {
    color: #efe5f3;
}

.homeButton {
    font-size: 20px;
    color: #bcb0c0;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 37px;
    width: 200px;
    height: 75px;
    border: none;
    font-family: Ubuntu;
}

.homeButton:hover {
    background-color: rgba(255, 255, 255, .1);
}

.homeButtonSmall {
    font-size: 20px;
    color: #bcb0c0;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border: none;
    font-family: Ubuntu;
}

.homeButtonSmall:hover {
    background-color: rgba(255, 255, 255, .1);
}

.menuContainer {
    align-content: stretch;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 25px;
    z-index: 2;
}

.subMenuContainer {
    width: 875px;
    align-content: stretch;
    display: flex;
    justify-content: right;
    gap: 25px;
    z-index: 2;
}

.spacer1 {
    height:400px;
    background: transparent;
}

