html, body {
    height: 100%;
    margin: 0;
}

.backgroundHome{
    background-image: url("../images/background.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background{
    background-image: url("../images/background.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 25px;
    overflow: hidden;
    overflow-x: auto;
}

.h1 {
    font-size: 80px;
    height: 75px;
    color: #efe5f3;
    font-family: Ubuntu;
}

.h2 {
    font-size: 25px;
    color: #efe5f3;
    font-family: Ubuntu;
}

.p {
    font-size: 18px;
    color: #c2aec9;
    font-family: Ubuntu;
    width: 60vw;
    text-wrap: pre-wrap;
    text-align: justify;
}

.hlink {
    color: #efe5f3;
}

.homeButton {
    font-size: 20px;
    color: #bcb0c0;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 37px;
    width: 200px;
    height: 75px;
    border: none;
    font-family: Ubuntu;
}

.homeButton:hover {
    background-color: rgba(255, 255, 255, .1);
}

.homeButtonSmall {
    font-size: 20px;
    color: #bcb0c0;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border: none;
    font-family: Ubuntu;
}

.homeButtonSmall:hover {
    background-color: rgba(255, 255, 255, .1);
}

.menuContainer {
    align-content: stretch;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 25px;
    z-index: 2;
}

.subMenuContainer {
    width: 875px;
    align-content: stretch;
    display: flex;
    justify-content: right;
    gap: 25px;
    z-index: 2;
}

.spacer1 {
    height:400px;
    background: transparent;
}

.table {
    font-family: Ubuntu;
    color: #efe5f3;
    width: 1200px;
    table-layout: fixed;
}

.table thead { 
    top: 0px; 
    z-index: 1; 
    text-align: right;}

.tableCont {
    max-height: calc(100vh - 430px);
    overflow-y: auto;
}

.table th, td {
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}

.table tr:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}

.searchMenu {
    width: 875px;
    align-content: stretch;
    display: flex;
    justify-content: left;
    gap: 25px;
    z-index: 2;
}
.filterMenu {
    width: 875px;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-content: stretch;
    display: flex;
    justify-content: left;
    gap: 25px;
    z-index: 2;
    overflow: visible;
}

.search {
    font-size: 20px;
    color: #bcb0c0;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 25px;
    width: 250px;
    height: 50px;
    border: none;
    font-family: Ubuntu;
    padding-left: 25px;
    padding-right: 25px;
}

.search:focus {
    border: none;
    outline: none;
}

.keymodes {
    border: none;
    font-family: Ubuntu;
    color: #efe5f3;
    overflow: visible;
    position: relative;
}

.keymodesHover {
    font-size: 20px;
    color: #bcb0c0;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 25px;
    width: 150px;
    height: 50px;
    border: none;
    font-family: Ubuntu;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.keymodesContent {
    border: none;
    font-family: Ubuntu;
    color: #bcb0c0;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #342738;
    padding: 25px;
    border-radius: 25px;
    width: 150px;
}

.hidden {
    display: none !important;
}

.keymodesCheckbox {
    font-family: Ubuntu;
    height: 25px;
    width: 25px;
    accent-color: #66516d;
}

.keymodesHover:hover {
    background-color: rgba(255, 255, 255, .1);
}

.header:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}

.sortName {
    font-family: Ubuntu;
    border: none;
    font-size: 18px;
    color: #bcb0c0;
    background-color: transparent;
    width: 100%;
}

.sortName:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}

.sortContent {
    border: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #342738;
    border-radius: 25px;
    width: 200px;
    padding: 0;
    overflow: hidden;
}

.hUser {
    padding-top: 25px;
    font-size: 40px;
    color: #efe5f3;
    font-family: Ubuntu;
}

.hdiff {
    padding-top: 25px;
    font-size: 25px;
    color: #bcb0c0;
    font-family: Ubuntu;
}

.plot {
    padding-top: 25px;
}