{% extends 'template.html' %}

{% block title %}
    {{ artist }} - {{ title }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
{% endblock %}

{% block data %}
    <script>
        const beatmapData = {{ beatmap|tojson|safe }}
        const userLinksData = {{ userLinks|tojson|safe }}
        const pbData = {{ pbs|tojson|safe}}
        const rankedDate = {{ ranked|tojson|safe}}
    </script>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="beatmap">
            <p class="beatmapname">{{ artist }} - {{ title }}</p>
            <div class="diffname">{{ beatmap.version }} by {{mapper}}</div>
        </div>
        <p class="label">View</p>
        <div class="options">
            <button class="checkbutton" name="statsTab" value="summary" data-tabname="Summary" id="tabSummary">Summary</button>
            <button class="checkbutton checked" name="statsTab" value="leaderboard" data-tabname="Leaderboard" id="tabLeaderboard">Leaderboard</button>
            <button class="checkbutton" name="statsTab" value="data" data-tabname="Data" id="tabData">Data</button>
        </div>
        <div class="label5">Press Q over a player on the leaderboard to view their scores. Press Q again to go back.</div>
        <p class="label" id="tablabel">Leaderboard</p>
        <div class="tabcont" id="summary">
            Nothing here yet.
        </div>
        <div class="tabcont active" id="leaderboard">
            <table class="tablehead">
                <thead>
                    <th style="width: 4%; text-align: left;">#</th>
                    <th style="width: 12%; text-align: right;">Player</th>
                    <th style="width: 7%; text-align: right;">PP</th>
                    <th style="width: 8%; text-align: right;">Score</th>
                    <th style="width: 10%; text-align: right;">Accuracy</th>
                    <th style="width: 8%; text-align: right;">Combo</th>
                    <th style="width: 6%; text-align: right;">Ratio</th>
                    <th style="width: 6%; text-align: right;">Marv</th>
                    <th style="width: 6%; text-align: right;">Perf</th>
                    <th style="width: 6%; text-align: right;">Great</th>
                    <th style="width: 6%; text-align: right;">Good</th>
                    <th style="width: 6%; text-align: right;">Bad</th>
                    <th style="width: 6%; text-align: right;">Miss</th>
                    <th style="width: 9%; text-align: right;">Date</th>
                </thead>
            </table>
            <div class="tablecont">
                <table class="table">
                    <tbody id="leaderboardtable">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tabcont" id="data">
            <div class="plotcont" id="plotcont1">
                <div id="plotTimePlays" class="plot"></div>
            </div>
            <div class="plotcont">
                <div id="plotAccScore" class="plot"></div>
                <div id="plotTimeScore" class="plot"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/plotly-basic-3.0.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/beatmap.js') }}"></script>
{% endblock %}