{% extends 'template.html' %}

{% block title %}A Lotta Keys{% endblock %}

{% block stylesheets %}
{% endblock%}

{% block content %}
    <div class="container">
        <p class="label">Search</p>
        <input type="text" autocomplete="off" placeholder="Search Beatmaps" class="search" id="search">
        <p class="label">Filter</p>
        <div class="options">
            <button value="9" class="checkbutton" name="filterKey">9K</button>
            <button value="10" class="checkbutton checked" name="filterKey">10K</button>
            <button value="12" class="checkbutton" name="filterKey">12K</button>
            <button value="14" class="checkbutton" name="filterKey">14K</button>
            <button value="16" class="checkbutton" name="filterKey">16K</button>
            <button value="18" class="checkbutton" name="filterKey">18K</button>
            <button value="Ranked" class="checkbutton checked" name="filterState">Ranked</button>
            <button value="Loved" class="checkbutton" name="filterState">Loved</button>
            <button value="Unranked" class="checkbutton" name="filterState">Unranked</button>
        </div>
        <p class="label">Sort</p>
        <div class="options">
            <button value="recent" class="checkbutton checked" name="sort">Recent</button>
            <button value="sr" class="checkbutton" name="sort">SR</button>
            <button value="plays" class="checkbutton" name="sort">Plays</button>
            <button value="passes" class="checkbutton" name="sort">Passes</button>
            <button value="length" class="checkbutton" name="sort">Length</button>
            <button value="ln perc" class="checkbutton" name="sort">LN %</button>
            <button value="reverse" class="checkbutton" id="reverse">Reverse</button>
        </div>
        <p class="label">Beatmaps</p>
        <table class="tablebeatmaps">
            <thead>
                <th style="width: 4%; text-align: left;">#</th>
                <th style="width: 43%; text-align: left;">Beatmap</th>
                <th style="width: 11%;">Mapper</th>
                <th style="width: 5%;">Keys</th>
                <th style="width: 5%;">SR</th>
                <th style="width: 5%;">Plays</th>
                <th style="width: 5%;">Passes</th>
                <th style="width: 7%;">Length</th>
                <th style="width: 7%;">LN%</th>
                <th style="width: 7%;">Status</th>
            </thead>
        </table>
        <div class="tablecont">
            <table class="tablebeatmaps">
                <tbody id="tablebody">

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts%}
    <script src="{{ url_for('static', filename='js/beatmaps.js') }}"></script>
{% endblock %}