{% extends 'template.html' %}

{% block title %}A Lotta Keys{% endblock %}

{% block stylesheets %}{% endblock%}
{% block data %}{% endblock%}

{% block content %}
    <div class="container">
        <p>Welcome to my site!</p>
        <p>This is still under construction, but feel free to wander around.</p>
        <p>My name is Sinan (or "Hugged" from osu!). Alottakeys is my personal project to build a central platform for osu!mania's 10K+ community. The idea started with data archival and visualization as I wanted to build stat profiles for players and beatmaps, but I have much more planned.</p>
    </div>
{% endblock %}

{% block scripts%}{% endblock%}