{% extends 'template.html' %}

{% block title %}A Lotta Keys{% endblock %}

{% block stylesheets %}{% endblock%}
{% block data %}{% endblock%}

{% block content %}
    <div class="container">
        <p>Welcome to my site!</p>
        <p>This is still under construction, but feel free to wander around.</p>
        <p>My name is Sinan (or "Hugged" from osu!). Alottakeys is my personal project to build a central platform for osu!mania's 10K+ community. The idea started with data archival and visualization as I wanted to build stat profiles for players and beatmaps (which is all there is so far), but I have much more planned.</p>
        <p>Vague to-do list in no particular order:</p>
        <p>- Finish building user and beatmap profiles (Not all the tabs on those pages are populated yet)
           - Statistical regression model to adjust lazer scores for fair comparison against stable scores on leaderboards (a big research and data analysis project)<br>
           - Daily 10Kle challenge<br>
           - An actual home page<br>
           - Monthly 10K+ performance report<br>
           - A blog-like about page where I just talk about the site's development<br>
           - Discord bot with 10K activity feed, various utility commands such as suggesting maps and showing stats (huge subproject)<br>
           - Authenticate users, store profiles and settings, and assign roles for people who want to contribute to projects on the platform<br>
           - Curated difficulty tables (with curators), per-user difficulty table progress<br>
           - Allow users to set goals and automatically detect goal completion<br>
           - Statistical difficulty rating model completely seperate from SR (huge subproject)<br>
           - Userpage customization<br>
           - The Pinky Bracket 202X, backended purely on ALK<br>
           - Import scores from replay data folder (Need to see if I can filter out downloaded replays not by the user)
        </p>
    </div>
{% endblock %}

{% block scripts%}{% endblock%}