<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}A Lotta Keys{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/styles">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block stylesheets %}{% endblock%}

    {% if logged_in%}
        <script>
            const sessionID = {{ id|tojson|safe }}
            let sessionSettings = {{ session_settings|tojson|safe }}
        </script>
    {% endif%}
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>

    {% block data %}{% endblock%}
</head>

<body>
    <header>
        <nav>
            <div class="logo"></div>
            
            <div class="navright">
                <button class="navbutton1" onclick="window.location.href='/'">Home</button>
                <button class="navbutton1" onclick="window.location.href='/users.html'">Users</button>
                <button class="navbutton1" onclick="window.location.href='/beatmaps.html'">Beatmaps</button>
                <button class="navbutton1" onclick="window.location.href='/'">About</button>

                <button class="navbutton2" onclick="window.open('https://github.com/sinanates17/A-Lotta-Keys', '_blank')">
                    <i class="fab fa-github"></i>
                </button>
                <button class="navbutton2" onclick="window.open('https://discord.gg/CCR5xgJMCA')">
                    <i class="fab fa-discord"></i>
                </button>
                {% if logged_in %}
                    <button class="navbutton2" id="settingsbutton">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                    <button class="navbutton2" id="logout">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </button>
                    <img class="avataricon" id="avataricon" src="{{ avatar_url }}">
                    <div class="settings" id="settings">
                        <p class="label2">Settings</p>
                        <div class="container2">
                            <div class="label3">Favorite Pattern</div>
                            <div class="options2">
                                <button name="settingfav" class="checkbutton2" value="Chordstream">Chordstream</button>
                                <button name="settingfav" class="checkbutton2" value="Brackstream">Brackstream</button>
                                <button name="settingfav" class="checkbutton2" value="Chordjack">Chordjack</button>
                                <button name="settingfav" class="checkbutton2" value="Brackjack">Brackjack</button>
                                <button name="settingfav" class="checkbutton2" value="Brackets">Brackets</button>
                                <button name="settingfav" class="checkbutton2" value="Release">Release</button>
                                <button name="settingfav" class="checkbutton2" value="10Jam">10Jam</button>
                                <button name="settingfav" class="checkbutton2" value="Inverse">Inverse</button>
                                <button name="settingfav" class="checkbutton2" value="Hybrid">Hybrid</button>
                                <button name="settingfav" class="checkbutton2" value="Tech">Tech</button>
                                <button name="settingfav" class="checkbutton2" value="Speed">Speed</button>
                                <button name="settingfav" class="checkbutton2" value="Dump">Dump</button>
                            </div>
                            <div class="label3">Score Imports</div>
                            <div class="filedrop" id="filedrop"><b>Drop scores.db to import local scores.</b></div>
                        </div>
                    </div>
                    <script src="{{ url_for('static', filename='js/loggedin.js') }}"></script>
                {% else %}
                    <button class="navbutton2" id="login">
                        <i class="fa-solid fa-user"></i>
                    </button>
                {% endif %}
                
            <div>
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <nav>
        Theme Credits: {{ theme_info.credit }}
        </nav>
    </footer>

    {% block scripts %}

    {% endblock %}
</body>
</html>