{% extends 'template.html' %}

{% block title %}{{user.name}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
{% endblock %}

{% block data %}
    <script>
        const userData = {{ user|tojson|safe }};
        const beatmapData = {{ beatmaps|tojson|safe }};
        const userSettings = {{ user_settings|tojson|safe }}
        let selfBeatmaps = {{ self_beatmaps|tojson|safe }}
    </script>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="user">
            <img class="avatar" src="{{ user['avatar url'] }}" onclick="window.open('https://osu.ppy.sh/users/{{ user.id }}')">
            <p class="username">{{ user.name }}</p>
            <p class="label" id="favpatternlabel">Favorite Pattern:</p>
            <p class="label4" id="favpattern"></p>
        </div>
        <p class="label">Filter</p>
        <div class="options">
            <button value="9" class="checkbutton" name="filterKey">9K</button>
            <button value="10" class="checkbutton checked" name="filterKey">10K</button>
            <button value="12" class="checkbutton" name="filterKey">12K</button>
            <button value="14" class="checkbutton" name="filterKey">14K</button>
            <button value="16" class="checkbutton" name="filterKey">16K</button>
            <button value="18" class="checkbutton" name="filterKey">18K</button>
            <button value="Ranked" class="checkbutton checked" name="filterState">Ranked</button>
            <button value="Loved" class="checkbutton" name="filterState">Loved</button>
            <button value="Unranked" class="checkbutton" name="filterState">Unranked</button>
            <button class="checkbutton" id="filterPB">PBs Only</button>
            <button class="checkbutton" id="filterTop">Top Plays Only</button>
        </div>
        <p class="label">View</p>
        <div class="options">
            <button class="checkbutton" name="statsTab" value="summary" data-tabname="Summary" id="tabSummary">Summary</button>
            <button class="checkbutton checked" name="statsTab" value="topPlays" data-tabname="Top Plays" id="tabTopPlays">Top Plays</button>
            <button class="checkbutton" name="statsTab" value="pp" data-tabname="PP" id="tabPP">PP</button>
            <button class="checkbutton" name="statsTab" value="sumBeatmaps" data-tabname="Beatmap Summary" id="tabSumBeatmaps">Beatmap Summary</button>
            <button class="checkbutton" name="statsTab" value="beatmaps" data-tabname="Beatmaps" id="tabBeatmaps">Beatmaps</button>
        </div>
        <p class="label" id="tablabel">Top Plays</p>
        <div class="tabcont" id="summary">
            Nothing here yet.
        </div>
        <div class="tabcont active" id="topPlays">
            <table class="tablehead">
                <thead>
                    <th style="width: 4%; text-align: left;">#</th>
                    <th style="width: 40%; text-align: left;">Beatmap</th>
                    <th style="width: 8%; text-align: right;">PP</th>
                    <th style="width: 8%; text-align: right;">Accuracy</th>
                    <th style="width: 12%; text-align: right;">Score</th>
                    <th style="width: 8%; text-align: right;">Ratio</th>
                    <th style="width: 8%; text-align: right;">Combo</th>
                    <th style="width: 12%; text-align: right;">Date</th>
                </thead>
            </table>
            <div class="tablecont">
                <table class="table">
                    <tbody id="topPlaysTable">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tabcont" id="pp">
            <div class="plotcont">
                <div id="plotTimePP" class="plot"></div>
                <div id="plotCumTimePP" class="plot"></div>
            </div>
        </div>
        <div class="tabcont" id="sumBeatmaps">
            <div class="plotcont">
                <div id="plotTimePlays" class="plot"></div>
                <div id="plotTimePlaysDiffs" class="plot"></div>
            </div>
        </div>
        <div class="tabcont" id="beatmaps">
            <table class="tablehead">
                <thead>
                    <th style="width: 4%; text-align: left;">#</th>
                    <th style="width: 54%; text-align: left;">Beatmap</th>
                    <th style="width: 5%; text-align: right;">Keys</th>
                    <th style="width: 5%; text-align: right;">SR</th>
                    <th style="width: 5%; text-align: right;">Plays</th>
                    <th style="width: 5%; text-align: right;">Passes</th>
                    <th style="width: 7%; text-align: right;">Length</th>
                    <th style="width: 7%; text-align: right;">LN%</th>
                    <th style="width: 7%; text-align: right;">Status</th>
                </thead>
            </table>
            <div class="tablecont">
                <table class="table">
                    <tbody id="beatmapTableBody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/plotly-basic-3.0.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}