{% extends 'template.html' %}

{% block title %}A Lotta Keys{% endblock %}

{% block stylesheets %}
{% endblock%}
{% block data %}{% endblock%}

{% block content %}
    <div class="container">
        <p class="label">Search</p>
        <div class="block">
            <input type="text" autocomplete="off" placeholder="Search Users" class="search" id="searchusers">
            <input type="text" autocomplete="off" placeholder="Search Country" class="search" id="searchcountry">
        </div>
        <p class="label">Filter</p>
        <div class="options">
            <button value="9" class="checkbutton" name="filterKey">9K</button>
            <button value="10" class="checkbutton checked" name="filterKey">10K</button>
            <button value="12" class="checkbutton" name="filterKey">12K</button>
            <button value="14" class="checkbutton" name="filterKey">14K</button>
            <button value="16" class="checkbutton" name="filterKey">16K</button>
            <button value="18" class="checkbutton" name="filterKey">18K</button>
            <button value="R" class="checkbutton checked" name="filterState">Ranked</button>
            <button value="L" class="checkbutton" name="filterState">Loved</button>
            <button value="U" class="checkbutton" name="filterState">Unranked</button>
            <button value="RL" class="checkbutton" name="filterState">Ranked + Loved</button>
            <button value="RLU" class="checkbutton" name="filterState">All Beatmaps</button>
        </div>
        <p class="label">Sort</p>
        <div class="options">
            <button value="pp" class="checkbutton checked" name="sort">PP</button>
            <button value="rperc" class="checkbutton" name="sort">Ranked Score</button>
            <button value="tperc" class="checkbutton" name="sort">Total Score</button>
            <button value="numscores" class="checkbutton" name="sort">No. of Scores</button>
            <button value="beatmap plays" class="checkbutton" name="sort">Beatmap Plays</button>
            <button value="reverse" class="checkbutton" id="reverse">Reverse</button>
        </div>
        <p class="label">Users</p>
        <table class="tablehead">
            <thead>
                <th style="width: 4%; text-align: left;">#</th>
                <th style="width: 12%; text-align: right;">Player</th>
                <th style="width: 7%; text-align: right;">PP</th>
                <th style="width: 11%; text-align: right;">Ranked Score</th>
                <th style="width: 7%; text-align: left; padding-left: 1em;">%</th>
                <th style="width: 11%; text-align: right;">Total Score</th>
                <th style="width: 7%; text-align: left; padding-left: 1em;">%</th>
                <th style="width: 10%; text-align: right;">Tracked Scores</th>
                <th style="width: 10%; text-align: right;">Beatmap Plays</th>
                <th style="width: 9%; text-align: right;">Last Active</th>
                <th style="width: 12%; text-align: right;">Country</th>
            </thead>
        </table>
        <div class="tablecont">
            <table class="table">
                <tbody id="tablebody">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts%}
    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}